/*Header*/

body {
    background-color: black;
}

/*Header*/

header {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 2%;
}

header div {
    display: inline-block;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 2%;
}

.opciones p {
    color: rgba(239, 210, 11, 1);
    border: none;
    font-family: 'Source Serif Pro', serif;
    display: inline-block;
    transition: 0.3s;
    margin-right: 10px;
}

.opciones p:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

p a:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}

/* Fin Header*/

/* Cabecera */

article .foto img {
    height: 332px;
    width: 700px;
    border-radius: 5px;
}

article .foto {
    height: 430px;
    width: 700px;
    margin-top: 30px;
    margin-left: 300px;
}

/* Texto descripción cabecera */

h2 {
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Serif Pro', serif;
}

.texto {
    height: 250px;
    width: 800px;
    position: relative;
    margin-left: 250px;
}

.texto p {
    color: goldenrod;
    text-indent: 20px;
    line-height: 25px;
    font-family: 'Source Serif Pro', serif;
}

span {
    font-size: 40px;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

h3{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Serif Pro', serif;
}

.slider img {
    height: 430px;
    width: 700px;
    margin-left: 50px;
    margin-top: 7px;
    background-color:(0,0,0,0);
}

.bx-wrapper {
    width: 800px;
    margin-left: 400px;
    margin: auto;
}

.bx-caption {
    z-index: 1;
    background-color: black;
    color: white;
}

