/*Header*/
body {
    background-color: black;
}

header {
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 2%;
}

header div {
    display: inline-block;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 2%;
}

.opciones p {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(239, 210, 11, 1);
    border: none;
    font-family: 'PT Serif', serif;
    display: inline-block;
    padding-right: 20px;
}

.opciones p:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
    background-color: black;
}

a:link {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}
/* Fin Header*/