body {
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Header*/

header {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}

header div {
    display: inline-block;
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
}

.opciones p {
    color: rgba(239, 210, 11, 1);
    border: none;
    font-family: 'Source Serif Pro', serif;
    display: inline-block;
    transition: 0.3s;
    margin-right:10px;
}

.opciones p:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.opciones p a:hover {
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(239, 210, 11, 1);
}

/* Fin Header*/

/* Noticia Principal*/

.cabecera {
    height: 380px;
    position: relative;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 2%;
}

.navi {
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

article {
    position: relative;
}

h2 {
    color: rgba(239, 210, 11, 1);
    font-family: 'Source Serif Pro', serif;
    position: absolute;
    right:320px;
    font-size: 30px;
}

.interior {
    height: 50%;
    width: 50%;
    position: absolute;
    right: 0%;
    padding-top: 5%;
}

.interior p {
    font-family: 'Source Serif Pro', serif;
    color: rgba(239, 210, 11, 1);
    font-size: 23px;
}

.interior button {
    height: 50px;
    width: 170px;
    position: absolute;
    border: none;
    margin-top: 70px;
    font-family: 'PT Serif', serif;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 6px;
    box-shadow: 3px 0px 22px 0px rgba(231, 166, 26, 1);
    color: yellow;
    font-weight: bold;
    transition: 0.3s;
}

.interior button:hover {
    cursor: pointer;
    color: black;
    transition: 0.3s;
    font-size: 20px;
}

/* Fin Noticia Principal*/

/* Resto Noticias*/

.noticias {
    margin-left: 100px;
}

.noti {
    background-color: rgba(0, 0, 0, 0.5);
    height: 350px;
    color: rgba(239, 210, 11, 1);
    margin-top: 25px;
    width: 350px;
    position: relative;
    left: 10px;
    display: inline-block;
}

.noti article {
    position: absolute;
    top: 20px;
    left: 15px;
}

div > a {
    margin-left: 25px;
}

/* Fin Resto Noticias*/

/* Footer */

footer {
    background-color: black;
    height: 110px;
    margin-top: 15px;
    position:relative;
}

i {
    color: white;
    margin-left: 20px;
}

.redes {
    height: 10vh;
    width: 20vw;

}

.redes p {
    color: white;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

i:hover {
    cursor: pointer;
}

footer div {
    display: inline-block;
}

.copy p {
    color: white;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size:15px;
}

#twitter{
   color: white;
    transition:0.3s;
}

#twitter:hover{
    color:darkturquoise;
    transition:0.3s;
}

#facebook{
    color:white;
    transition:0.3s;
}

#facebook:hover{
    color:mediumblue;
    transition:0.3s;
}

#youtube{
    color:white;
    transition:0.3s;
}

#youtube:hover{
    color:red;
    transition:0.3s;
}
/* Fin Footer*/
